@page "/GamesList/{isInstructionExist:bool}"
@using TriangleProject.Shared.Models.Editor
@using TriangleProject.Shared.Models.Matches
@using TriangleProject.Shared.Models.Portelem
@using TriangleProject.Client.Components

@inject HttpClient Http
@inject NavigationManager nav
@inject NavigationManager Nav


<h5 class="PageMainTitle">המשחקים שלי</h5>
<input type="text" style="border:2px solid pink" value="@searchQuery" @oninput="UpdateSearchQuery" @onblur="FilterGames" placeholder="חפש משחק..." />


@if (user != null)
{
    @*<input type="button" id="addGame" @onclick="showCreateGameField">
        @if (isPlusButtonClicked)
        {
            <p>(1-17 תווים)</p>
            <input maxlength="17" style="border:2px solid blue" type="text" @bind="gameName" placeholder="הקלד שם משחק..." @oninput='e => HandleInputGameName(e, "gameName")' />
            @if (!string.IsNullOrEmpty(gameName))
            {
                <span class="character-count"> @characterCountGameName / @characterGameNameLimit </span>
            }
            <br />

            <input type="button" value="צור משחק" @onclick=@(()=>AddNewGame(UserId, gameName)) disabled="@isCreateButtonDisabled">
            <input type="button" value="בטל" @onclick="ClearNewGame">
        }*@


    <div class="container">


        <button class="@AddGamebuttonClass" @onclick="showCreateGameField">
            <span class=@plus>+</span>
        </button>

        @if (isPlusButtonClicked)
        {
            <p>(1-17 תווים)</p>

            <input maxlength="17" class="@circularInput" type="text" @bind="gameName" placeholder="הקלד שם משחק..." @oninput='e => HandleInputGameName(e, "gameName")' />
            @if (!string.IsNullOrEmpty(gameName))
            {
                <span class="character-count"> @characterCountGameName / @characterGameNameLimit </span>
            }
            <br />

            <input type="button" value="צור משחק" @onclick=@(()=>AddNewGame(UserId, gameName)) disabled="@isCreateButtonDisabled">
            <input type="button" value="בטל" @onclick="ClearNewGame">
        }

    </div>

    <p>The Games:</p>
    <div id="allGames">
        @foreach (GameForEditor game in user.UserGames.Where(g => string.IsNullOrEmpty(searchQuery) || g.GameFullName.ToLower().Contains(searchQuery.ToLower())))
        {
            @if (!isThereGames)
            {
                <span id="anyGameCard">
                    <GameCard GameFullName="@game.GameFullName" gameCode="@game.GameCode" GamePublishStatus="@game.PublishStatus" isCheckboxClicked="@(async () => await changePublish(game))" showMsg="(() => showMessage(game.GameFullName, game))" gameId="@game.ID" GameInstructionToCheck="@insCheck" />

                    <span> </span>

                    @if (isClicked)
                    {
                        <PopupComp Headline="@deleteHeadLinePopUp" Text1="@deleteTextPopUp1" gameName="@gameNameToDelete" Text2="@deleteTextPopUp2" isDeleteCompClicked="@isClicked" GameIdToDelete="@(async () => await DeleteGame(game1))" ShowMsg="closedPopUp" actionButtonText="מחק משחק" cancelButtonText="בטל"></PopupComp>
                    }
                </span>
                Console.WriteLine(isInstructionExist);

            }

            else
            {
                <div>
                    היי, איזה כיף שבאת!
                    צור משחק בלחיצה על הפלוס
                    המשחקים שלך יופיעו כאן :)
                </div>
            }

        }
    </div>
}



@if (msg != "")
{
    <p>@msg</p>
    <input type="button" value="reload" @onclick=Navigate />
}


@code {


    [CascadingParameter]
    public int UserId { get; set; }
    [Parameter]
    public bool isInstructionExist { get; set; }
    UserWithGames user;
    GameForEditor gameToDelete = new GameForEditor();
    List<GameForEditor> newGame;
    List<GameForEditor> filteredGames;

    bool isClicked = false;
    bool isPlusButtonClicked = false;
    bool isThereGames => user.UserGames == null || user.UserGames.Count == 0;
    bool isCreateButtonDisabled => string.IsNullOrEmpty(gameName);
    bool isExpanded = false;
    bool insCheck;
    string msg = "";
    string gameName = "";
    string deleteHeadLinePopUp = "מחיקת משחק";
    string deleteTextPopUp1 = "אתה עומד למחוק את המשחק ";
    string deleteTextPopUp2 = "?האם אתה בטוח";
    string gameNameToDelete = "";
    string searchQuery = "";
    string circularInput => isExpanded ? "circularInput" : "circularInputDisplayNone";
    private string AddGamebuttonClass => isExpanded ? "circle-expended" : "circle-button";
    private string plus => isExpanded ? "plus-expended" : "plus";
    int characterGameNameLimit = 17;
    int characterCountGameName = 0;
    GameForEditor game1;


    void HandleInputGameName(ChangeEventArgs e, string field)
    {
        var inputText = (string)e.Value;

        if (inputText.Length > characterGameNameLimit)
        {
            // Truncate the input to the character limit
            inputText = inputText.Substring(0, characterGameNameLimit);
        }

        else if (field == "gameName")
        {
            gameName = inputText;
            characterCountGameName = gameName.Length;
        }
    }


    void showCreateGameField()
    {
        isPlusButtonClicked = true;
        isExpanded = !isExpanded;
    }

    void FilterGames()
    {
        if (!string.IsNullOrEmpty(searchQuery))
        {
            filteredGames = user.UserGames.Where(game => game.GameFullName.Contains(searchQuery)).ToList();

        }
        else
        {
            filteredGames = null; // Show all games if the search query is empty
        }
    }

    void UpdateSearchQuery(ChangeEventArgs e)
    {
        searchQuery = e.Value.ToString();
    }

    void showMessage(string gName, GameForEditor g)
    {
        game1 = g;
        gameNameToDelete = gName;
        isClicked = true;
    }

    void closedPopUp()
    {
        isClicked = false;
    }
    void ClearNewGame()
    {
        gameName = "";
        isPlusButtonClicked = false;
    }

    void Navigate()
    {
        Nav.NavigateTo("./", true);
    }

    protected override async Task OnInitializedAsync()
    {

        insCheck = isInstructionExist;


        var userRes = await Http.GetAsync("api/Games/" + UserId);

        if (userRes.IsSuccessStatusCode)
        {
            user = userRes.Content.ReadFromJsonAsync<UserWithGames>
    ().Result;
        }
        else
        {
            string error = userRes.Content.ReadAsStringAsync().Result;
            switch (error)
            {
                case "No Session":
                    msg = "Session error, please reload page";
                    break;
                case "User Not Logged In":
                    msg = "You are not logged in, please reload page to try again";
                    break;
                case "User Not Found":
                    msg = "the user details not found, please reload page to try again";
                    break;
            }
        }
    }

    protected async Task AddNewGame(int UserId, string gameName)
    {
        var AddResopnse = await Http.GetAsync("api/Games/" + UserId + "/addGame/" + gameName);

        if (AddResopnse.IsSuccessStatusCode)
        {

            GameForEditor newGame = AddResopnse.Content.ReadFromJsonAsync<GameForEditor>
                ().Result;
            user.UserGames.Add(newGame);
            nav.NavigateTo("./EditGamePage/" + newGame.GameFullName + "/" + newGame.ID);

        }
        else
        {
            string error = AddResopnse.Content.ReadAsStringAsync().Result;

            switch (error)
            {
                case "No Session":
                    msg = "Session error, please reload page";
                    break;

                case "User Not Logged In":
                    msg = "You are not logged in, please reload page to try again";
                    break;

                case "User Not Found":
                    msg = "You tried to update a game that is not associated with your user ";
                    break;

                case "Game not created":
                    msg = "The game you have tried to create, faild.";
                    break;
            }
        }
    }


    protected async Task changePublish(GameForEditor game)
    {
        GamePublish gameToSend = new GamePublish();
        gameToSend.ID = game.ID;
        gameToSend.PublishStatus = game.PublishStatus;

        if (gameToSend.PublishStatus == "Eligible")
        {
            gameToSend.PublishStatus = "Published";
        }
        else
        {
            gameToSend.PublishStatus = "Eligible";
        }

        var userRes = await Http.PostAsJsonAsync("api/Games/" + UserId + "/publishGame", gameToSend);

        if (userRes.IsSuccessStatusCode)
        {
            int index = user.UserGames.IndexOf(game);
            if (user.UserGames[index].PublishStatus == "Eligible")
            {
                user.UserGames[index].PublishStatus = "Published";
            }
            else
            {
                user.UserGames[index].PublishStatus = "Eligible";
            }
        }

        else
        {
            string error = userRes.Content.ReadAsStringAsync().Result;

            switch (error)
            {
                case "No Session":
                    msg = "Session error, please reload page";
                    break;

                case "User Not Logged In":
                    msg = "You are not logged in, please reload page to try again";
                    break;

                case "It's Not Your Game":
                    msg = "You tried to update a game that is not associated with your user ";
                    break;
            }
        }
    }


    protected async Task DeleteGame(GameForEditor gameToDelete)
    {

        var deleteResponse = await Http.DeleteAsync("api/Games/" + UserId + "/" + gameToDelete.ID);
        if (deleteResponse.IsSuccessStatusCode)
        {
            user.UserGames.Remove(gameToDelete);
        }

        else
        {
            string error = deleteResponse.Content.ReadAsStringAsync().Result;

            switch (error)
            {
                case "No Session":
                    msg = "Session error, please reload page";
                    break;

                case "User Not Logged In":
                    msg = "You are not logged in, please reload page to try again";
                    break;

                case "Failed to delete game":
                    msg = "The game deleting process was failed ";
                    break;

                case "Failed to delete matches":
                    msg = "The matches deleting process was failed ";
                    break;

            }
        }
    }
}


<style>
    #addGame {
        background-image: url('../css/games list imgs/create new game.svg');
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
</style>