@using Microsoft.AspNetCore.Components.Web
@using TriangleProject.Shared.Models.Editor
@using TriangleProject.Shared.Models.Matches
@using TriangleProject.Shared.Models.Portelem
@using TriangleProject.Client.Components

@inject HttpClient Http
@inject NavigationManager nav
@inject NavigationManager Nav

<div class="component @editMode">
    <div class="container">
        <div class="rectangle rectangle-1">
            <div class="content">
                @if (!string.IsNullOrEmpty(matchText))
                {
                    @if (matchText.Contains("uploadedFiles/"))
                    {
                        <img src="@matchText" width="75" />
                    }
                    else
                    {
                        <p>@matchText</p>
                    }
                }

                
            </div>
        </div>

        <div class="rectangle rectangle-2">
            <div class="content">
                @if (!string.IsNullOrEmpty(matchText2))
                {
                    @if (matchText2.Contains("uploadedFiles/"))
                    {
                        <img src="@matchText2" width="75" />
                    }
                    else
                    {
                        <p>@matchText2</p>
                    }
                }
               
            </div>
        </div>

        <div>
            <img class="@editPencil" src="../edit_pencil.svg" alt="Edit" style="cursor: pointer" @onclick="editMatch" />
        </div>

        <div class="delete">
            <img src="../trash3.svg" alt="Delete" @onclick="deleteMatch" />
        </div>
    </div>
</div>





@code
{
    public string editPencil = "";
    public string editMode = "";


    [Parameter]
    public string matchText { get; set; }

    [Parameter]
    public string uploadedImg { get; set; }

    [Parameter]
    public string uploadedImg2 { get; set; }

    [Parameter]
    public string matchText2 { get; set; }

    [Parameter]
    public EventCallback<bool> DeleteCallBack { get; set; }

    [Parameter]
    public EventCallback<bool> EditMatchCallBack { get; set; }

    [Parameter]
    public bool isImageClickable { get; set; }

    //[Parameter]
    //public EventCallback<bool> isImageClickableCallBack { get; set; }


    void deleteMatch()
    {
        DeleteCallBack.InvokeAsync(true);
    }

    void editMatch()
    {
        editPencil = "editPencil";
        editMode = "editMode";
        EditMatchCallBack.InvokeAsync(true);        
    }

    protected override void OnParametersSet()
    {
        editStyle();
    }

    void editStyle()
    {
        if (isImageClickable)
        {
            editPencil = "";
            editMode = "";
        }

        isImageClickable = false;
        //isImageClickableCallBack.InvokeAsync(true);
    }
}


